#nav
{
    height: 100px;
}
.nav-item a
{
    color: black;
}
.nav-item a :hover
{
    color: yellowgreen;
}
.offcanvas 
{
    height: 500px;
    width:80%;
    position: absolute;
    left: 10%;
    top:10%;   
}
.mission
{
    height:auto; 
    width: 99%; 
    background-color: white;
    margin: auto;
    position: relative;
    top: 50px;
}
.number 
{
    font-weight:400;
    padding-bottom: 7px;
    color:#2d465e;
    border-bottom: 3px solid green;
    width: 40%;
}
.blog-img 
{
    border-radius: 10px;
}
input 
{
    height: 45px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
    padding-left: 10px;
    margin-top: 10px;
}
input::placeholder
{
    padding-left: 10px;
}
#icon
{
    position:relative;
    top: 50px;
    left: 100px;
}